#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
    websockets:
        clientUrl: # in config.local.neon
        serverUrl: # in config.local.neon

    database: # nastaveni pripojeni k Databazi
        user: # in config.local.neon
        password: # in config.local.neon
        dbname: # in config.local.neon

    gcm: # nastaveni Google Cloud Messaging
        apiKey:  # in config.local.neon
        senderId:  # in config.local.neon

    google: # nastaveni Google API (pro Login)
        clientId: # in config.local.neon
        clientSecret: # in config.local.neon

    map:
        defaultPosition:
            lat: 49.2020701
            lng: 16.5779606
            zoom: 13

    images:
        cacheDir: %wwwDir%/cache/
        uploadDir: %wwwDir%/../upload/
        cacheUrl: /cache/

        sizes:
            detail:
                width: 800
                height: 800
                flag: fit
            thumb:
                width: 172
                height: 172
                flag: centered
            mini:
                width: 60
                height: 60
                flag: centered

php:
	date.timezone: Europe/Prague


extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    google: Kdyby\Google\DI\GoogleExtension

doctrine:
    user: %database.user%
    password:  %database.password%
    dbname:  %database.dbname%
    metadata:
        App: %appDir%

console:
    url: http://www.lostphone.cz
    commands:
        - App\Commands\DaemonCommand
        - App\Commands\WebSocketServerCommand

google:
    clientId: %google.clientId%
    clientSecret: %google.clientSecret%
    returnUri: 'Sign:in'(do=googleLogin-response)

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days


services:
	- App\Services\ImageService(%images.uploadDir%,%images.cacheDir%,%images.sizes%,%images.cacheUrl%)
	- App\Services\MessageService

	- \Hoa\Socket\Client(%websockets.serverUrl%)
	- \Hoa\Socket\Server(%websockets.serverUrl%)

	- Gcm\Http\Sender(%gcm.apiKey%)
	- Gcm\Xmpp\Daemon(%gcm.senderId%, %gcm.apiKey%)

	- App\RouterFactory
	router: @App\RouterFactory::createRouter
