html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

body {
    padding-top: 50px;
}



#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

/* Standard syntax */
@keyframes myfirst {
    from {transform: scale(2);}
    to {transform: scale(1);}
}

#snippet--messages div:first-child {
    animation: 1s myfirst ease-in-out;
}